<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>

<body>
<ul class="menu">

<li class="menu2">связь с нами</li>
 <li class="menu2">о нас</li>
    <li class="menu2">услуги для других четвероногих друзей</li>

</ul>
<div class="box1">
    <div class="box11">
    <div class="box2">запись</div>
    <div class="box2">скидки</div>
    </div>
    <img class="img" src="/static/images/u0b10a1ce6eeedd63f368b6ed91d35ede.jpg" alt="">
<div class="box2">наши услуги</div>
</div>


</body>

</html>