
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
{% include 'head.html' %}
<h1 class="text1">наши услуги</h1>
<div class="services">
    <div class="servi2">
    <div class="responsivediv">
        <h1 class="text2">груминг</h1>
    <img class="img-responsive" src="/static/images/f6f5fc7d84fa7307ac8b7cf179bb942cc.jpg" alt="">
        </div>
    <div class="responsivediv">
        <h1 class="text2">груминг для <br> мероприятий</h1>
    <img class="img-responsive" src="/static/images/d73149301b683a57d7ad4e3b46f4ca93.jpg" alt="">
        </div>
    <div class="responsivediv">
        <h1 class="text2">линька</h1>
    <img class="img-responsive" src="/static/images/b4ac97fddfa4f7f8b8576abcb6b8da88.jpg" alt="">
    </div>
        <div class="responsivediv">
            <h1 class="text2">помыв</h1>
    <img class="img-responsive" src="/static/images/512d28793afc0eb4b4aa64585cdca0f5.jpg" alt="dog ">
            </div>
    <div class="responsivediv">
        <h1 class="text2">сушка</h1>
    <img class="img-responsive" src="/static/images/b4ac97fddfa4f7f8b8576abcb6b8da88.jpg" alt="">
        </div>
    <div class="responsivediv">
        <h1 class="text2">спа</h1>
    <img class="responsive" src="/static/images/spa-proczeduryi-dlya-sobak.jpg" alt="">
    </div>
    </div>
</div>

<div class="vsepordy">
    <h1 class="text3">Обслуживаем все породы</h1>
    <div class="img3">
    <img class="img3\2" src="/static/images/13ef1b5732f25ca4ec6a13a469b90475.jpg" alt=""></div>
</div>

<div class="primery">
    <div class="xprimery">
        <h1 class="text4">Немецкий шпиц</h1>
        <img class="img3\2" src="/static/images/4_1.webp" alt="">

    </div>
    <div class="xprimery">
        <h1 class="text4">Йоркширский терьер</h1>
    <img class="img3\2" src="/static/images/6_1.webp" alt="">
    </div>
    <div class="xprimery">

        <h1 class="text4">Чихуахуа.</h1>
    <img class="img3\2" src="/static/images/8_1.webp" alt="">
    </div>
    <div class="xprimery">
        <h1 class="text4">Немецкая овчарка.</h1>
        <img class="img3\2" src="/static/images/17_0.webp" alt="">
    </div>
    <div class="xprimery">
        <h1 class="text4">Лабрадор-ретривер.</h1>
    <img class="img3\2" src="/static/images/19_0.webp" alt="">
    </div>
</div>
<span class="foter">
    <span class="foter0">
    <h2 class="foterin">связь с нами </h2>
    <h2 class="foterin">документы</h2>
    <h2 class="foterin">гугл карты</h2>
    <h2 class="foterin">юридическая информация</h2>
    </span>
    <span class="foter2">
        <h2 class="foterin2">наши партнёры</h2>
        <h2 class="foterin2">наши акции</h2>
        <h2 class="foterin2">приют(подарить дом)</h2>
    </span>
</span>

</body>
